<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusplus.suda.dao.SudaDAO">

	<insert id="inputInfo" parameterType="map">
		INSERT INTO
			`suda` 
		(
			`userId`
			, `mbti`
			, `introduce`
			, `type`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{mbti}
			, #{introduce}
			, #{type}
			, now()
			, now()
		)
	</insert>
	
	<select id="infoIsDuplicate" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`suda`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectSudaByUserId" parameterType="int" resultType="com.bogus.bogusplus.suda.model.Suda">
		SELECT
			`id`
			, `userId`
			, `mbti`
			, `introduce`
			, `type`
			, `createdAt`
			, `updatedAt`
		FROM
			`suda`
		WHERE
			`userId` = #{userId}
	</select>
	
	
	
</mapper>