<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusplus.user.dao.UserDAO">

	<select id="selectCountSignin" parameterType="map" resultType="com.bogus.bogusplus.user.model.User">
		SELECT
			`id`
			, `email`
			, `password`
			, `catalogue`
			, `icon`
			, `nickName`
			, `kid`
			, `pin`
			, `manager`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{email}
		AND
			`password` = #{password}
	</select>

	<insert id="insertUser" parameterType="com.bogus.bogusplus.user.model.User"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`user` 
		(
			`email`
			, `password`
			, `manager`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{email}
			, #{password}
			, 0
			, now()
			, now()
		)
	</insert>
	
	<update id="updateCatalogue" parameterType="map">
		UPDATE
			`user`
		SET
			`catalogue` = #{catalogue}
			, updatedAt = now()
		WHERE
			 `id` = #{id}
	</update>
	
	<update id="updateIcon" parameterType="map">
		UPDATE
			`user`
		SET
			`icon` = #{icon}
			, updatedAt = now()
		WHERE
			 `id` = #{id}
	</update>
	
	<update id="updateNickName" parameterType="map">
		UPDATE
			`user`
		SET
			`nickName` = #{nickName}
			, `kid` = #{kid}
			, updatedAt = now()
		WHERE
			 `id` = #{id}
	</update>
	
	<update id="updatePin" parameterType="map">
		UPDATE
			`user`
		SET
			`pin` = #{pin}
			, updatedAt = now()
		WHERE
			 `id` = #{id}
	</update>
	
	<select id="selectCountIsDuplicate" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			`email` = #{email}
	</select>
	

	
</mapper>