@charset "UTF-8";

.calendar > .textWhite {
	font-size:35px;
}

.calendar-container {
	width:70%;
	margin:auto;
}

#calendar-box {
	background-color:#30333e;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px;
    margin-top: 20px;
}

.fc-toolbar-chunk {
	margin-right:15px;
	font-size: 1em;
}


.fc-day-today {
	background-color: #5e647a !important;
}

.fc-toolbar-title {
	padding-left:175px;
}

.fc-daygrid-day-frame:hover {
	background-color:#8089a8;
}

.fc-day-sun {
	color:#ed777e;
}

.fc-day-sat {
	color:#83c0eb;
}

.my-icon:before {
    content: url('/path/to/icon.png');
}


.fc-h-event {
	background-color: transparent !important;
    border: transparent !important;
    
}

.calendarPlaceIcon {
	font-size:25px;
	color:rgb(26, 188, 156);
}

.calendarPlaceIcon:hover {
	color:#27d9b6;
}

.calendarPlaceIcon:active {
	color:#15967d;
}

.calendarMovieListText {
	font-size:18px;
	color:#bcd2eb;
}

.calendarMovieListPlace {
	margin-top:3px;
}

.calendarMovieVieList {
	margin-top:2px;
}

.calendarMovieIcon {
	font-size:25px;
	color:#d4735d;
}


.calendarMovieIcon:hover {
	color:#f28268;
}

.calendarMovieIcon:active {
	color:#b5604c;
}

