@charset "UTF-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background-color:#1a1d29;
	height:100%;
}

#movie-detail-wrap {
	background-image: url("/static/image/spider.jpg");
    background-size: cover;
}

#wrap {
	width:100%;
	min-height:100%;
	position: relative;
	padding-bottom: 150px;
	
}


#suda-input-info {
	width:25%;
	height:75.5vh;
	margin:auto;
}

#suda-input-info, #searchLine  > .textWhite {
	font-size:30px;
}



#suda-input-info > .form-control {
	background-color:rgb(48, 51, 62);
	height:45px;
	color:white;
}

header {
	width:100%;
	height:65px;
	color:white;
	position: relative;
}

.searchMovieInfo {
	width:90%;
	margin:auto;
}

.searchMovieInfo > a > img {
	width:250px;
	height:200px;
	margin:10px;
	margin-left:22px;
}

.logo{
	font-family: 'Comic Neue', cursive;
	font-weight:bold;
}

.headerLogo {
	font-size:40px;
	font-weight:bold;
	font-family: 'Comic Neue', cursive;
}

.poster-contents {
 	position: relative;
  	z-index: 1;
}

.profile-container {
	width: 180px;
	height: 225px;
	background-color: #101219;
	border-left: 1px solid #706f6f;
	border-bottom: 1px solid #706f6f;
	position: relative;
	z-index: 2;
}

.profileText, .profileText > a{
	position: absolute;
	width:160px;
	height:110px;
	font-family:'BMJUA';
	font-size:18px;
	color:white;
	font-weight: normal;
}

.profileText > a:hover {
	color:rgb(30, 140, 255);
 	text-decoration:none;
}

.profile {
	background-color:#101219;
	width:130px;
	height:60px;

}

.profile > hr {
	height:1px;
	background-color:#bebebe;
}

hr {
	height:1px;
	background-color:#484950;
}

.main-contents {
	width:20%;
	height:695px;
	margin:auto;
	color:white;
}

.main-contents > a:hover {
	color:white;
}

.textGray {
	color:rgb(224, 224, 224);
	font-size:small;
}

.textRed {
	color:#e54e48;
	font-size:12px;
}

.textGreen {
	color:#53b56d;
	font-size:12px;
}

.main-contents > .form-control {
	background-color:rgb(48, 51, 62);
	height:45px;
	color:white;
}

.pin-contents > .pinBox {
	width:45px;
	height:70px;	
	border:none;
	background-color:rgb(48, 51, 62);
	color:white;
	font-size:25px;
}

.pin-contents > input:focus {
	outline:none;
}

.btn:active, .btn:focus { 
	outline:none !important; 
	box-shadow:none !important; 
}

.blueBtn {
	background-color:rgb(0, 114, 210);
	height:45px;
	color:white;
	font-weight:bold;
}

.blueBtn:hover {
	background-color:#0580e8;
}

.blueBtn:active {
	background-color:#03579e;
}

.grayBtn {
	background-color:rgb(64, 66, 74);
	height:45px;
	color:white;
	font-weight:bold;
}

.grayBtn:hover {
	background-color:#4b4e57;
}

.grayBtn:active {
	background-color:#303238;
}

.main-contents > .loginEmail {
	height:55px;
}

.loginEmail > .lengthLine {
	border-left :1px solid #484950;
}

.loginEmail > .emailInfo {
	background-color:rgb(33, 44, 54);
	width:100%;
}

.emailInfoText {
	color:#bebebe;
	font-size:small;
}

.passwordRule {
	font-size:12px;
	color:rgb(224, 224, 224);
}

footer {
	height:150px;
	background-color:rgb(14, 11, 20);
	color:white;
	bottom:0;
	width:100%;
	position: absolute;
}

.footerLogo {
	font-size:30px;
	font-weight:bold;
	font-family: 'Comic Neue', cursive;
}

.copyRight {
	font-size:small;
	color:rgb(224, 224, 224);
}

input::placeholder {
 	color: rgb(168, 169, 173);
 	font-weight:bold;
}

.suda-main-contents > input::placeholder {
 	font-weight:normal;
}

.placeModal > .modal-dialog {
	max-width:1175px;
}

.placeIcon {
	font-size:40px;
	color:rgb(26, 188, 156);
}

.post-text > .placeIcon {
	font-size:35px;
}

.placeIcon:hover {
	color:#27d9b6;
}

.placeIcon:active {
	color:#15967d;
}

.calendarIcon {
	font-size:40px;
	color:white;
}

.calendarIcon:hover {
	color:#bab8b8;
}

.calendarIcon:active {
	color:#8c8c8c;
}

.choosePlace > .fontBMJUA {
	color:rgb(158, 158, 158);
}

a {
	color:rgb(102, 188, 255);
	font-weight:bold;
	font-size:small;
}

a:hover {
	color:rgb(30, 140, 255);
 	text-decoration:none;
}

.form-check-input {
	accent-color:rgb(224, 224, 224);
}

.icon-contents {
	width:30%;
	height:695px;
	margin:auto;
	color:white;
}

.circle {
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:#1a1d29;
    border:none;
}

.circle > img {
	width:100px;
    height:100px;
    border-radius:50%;
}
 
#movieHeaderLink > a {
	color:white;
	font-size:15px;
}

#movieHeaderLink > a:hover {
	color:#dbd9d9;
}

#movieHeaderLink > a:active {
	color:#c9c7c7;
}

.nickName {
	font-size:17px;
	font-weight:bold;
	font-family: 'BMJUA';
}

.profileCircle > img {
	width:50px;
   	height:50px;
   	border-radius:50%;	
}

.movie-contents {
	margin-top:70px;
	width:100%;
}

.movie-conteiner {
	margin-left:90px;
}

.textWhite {
	color:white;
	font-size:20px;
	font-family: 'BMJUA';
}

.togetherTextGray {
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
}

.talkTextGray {
	color:#a1a1a1;
	font-size:20px;
	font-family: 'BMJUA';
}

.textYellow {
	color:#f0c30f;
	font-size:small;
}

.placeBox > .modal-dialog{
	max-width:1185px;
}

.placeBox > .modal-dialog > .modal-content{
	height:700px;
}

.post-text-padding {
	padding-left:40px;
}

.post-text-background {
	background-color:rgb(64, 66, 74);
}

.talk-box {
	width:80%;
}

.my-talk-background {
	position: relative;
	border-radius: 10px;
	background-color: rgb(102, 102, 102);
	padding: 10px;
	font-size: 15px;
	color: #000000;
	width: max-content;
}


.post-talk-background {
	position: relative;
	border-radius: 10px;
	background-color: rgb(102, 102, 102);
	padding: 10px;
	font-size: 15px;
	color: #000000;
	width: max-content;
}



.post-header > .textYellow {
	font-family: 'BMJUA';
	font-size:20px;
}

.movie-box {
	width:250px;
	height:150px;
	background-color:rgb(224, 224, 224);
	margin-bottom:70px;
}

.movie-box > img {
	width:325px;
	height:170px;
}

#searchLine {
	width:100%;
	height:150px;
}

#movieSearchLine {
	width:100%;
	height:100px;
}

.searchBox {
	width:100%;
	height:85px;
}

.search {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	background-color: transparent;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid transparent;	
}

.placeText {
	position: absolute;
	top: 60px;
	left: 20px;
	z-index: 1;
	font-weight:bold;
}

.talk-group {
	z-index: 1;
	background-color: transparent;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid transparent;
}

.talk-group, .input-group-append > input {
	font-family: 'BMJUA';
	background-color:#40424a;
	color:white;
}


.search, .input-group-append > input {
	font-family: 'BMJUA';
	background-color:#40424a;
	color:white;
}

.search > .form-control:focus {
	box-shadow:none;
	outline:none;
}

.search > input::placeholder {
	font-weight:normal;
}

.infoWindow {
	padding:10px;
	min-width:200px;
	line-height:150%;
	font-family: 'BMJUA';
}

.movieSearchBtn {
	background-color:transparent;
	height:30px;
}

.movieSearchBtn:hover {
	color:#dbd9d9;
}

.movieSearchBtn:active {
	color:#c9c7c7;
}

.movieSearchBtnText {
	color:white;
	font-size:15px;
}

#searchLine > input:focus {
	outline:none;
	border:none;
	border-color:none;
}

#movieSearchLine > input:focus {
	outline:none;
	border:none;
	border-color:none;
}

#movieSearchLine > input::placeholder {
	color:rgb(150, 151, 155);
	font-size:25px;
}

#cafeSearchInput {
	background-color:rgb(75, 78, 90);
	color:white;
	border:none;
	font-size:25px;
	padding-left:70px;
}

#movieSearchInput {
	background-color:rgb(75, 78, 90);
	color:white;
	border:none;
	font-size:25px;
	padding-left:70px;
}



#searchLine > input::placeholder {
	color:rgb(150, 151, 155);
	font-size:25px;
}

#seacrchLine > input:focus {
	outline:none;
}

.sudaMainPageContents {
	width:20%;
	height:auto;
	margin:auto;
}

.hotText {
	color:#db493a;
}

.myText {
	color:#83cbf7;
}

.fontBMJUA {
	font-family:'BMJUA';
	font-size:25px;
	color:white;
}

.hotCafeBox {
	background-color:rgb(48, 51, 62);
}

.cafe-create > .form-control {
	background-color:rgb(48, 51, 62);
	height:45px;
	color:white;
}

.searchInfo {
	width:20%;
	height:100%;
	margin:auto;
}

.post-container {
	width:100%;
}

.preview {
	width:41%;
	padding-left:20px;
	padding-right:20px;
}

.preview-image > img {
	width:100%;
	height:230px;
	margin:0;
}

.previewPost {
	margin:auto;
}

.aTagBtn {
	background-color:transparent;
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
	font-weight:bold;
}

.aTagBtn:hover {
	color:#dbd9d9;
}

.aTagBtn:active {
	color:#c9c7c7;
}


.suda-main-contents {
	width:40%;
	margin:auto;
}

.previw-container > .suda-main-contents {
	width:41%;
	margin:auto;
} 

#postNavLink > a {
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
}

#postNavLink > a:hover {
	color:#dbd9d9;
}

#postNavLink > a:active {
	color:#c9c7c7;
}

.select {
	color:white;
}

.sudaPost {
	width:100%;
	height:auto;
	background-color:#30333e;
}

.sudaPost > .post-header {
	width:100%;
	height:50px;
}

.nickNameSpace {
	width:40%;
}

.attendSpace {
	width:20%;
}

.post-header > .userName {
	font-family: 'BMJUA';
	font-size:20px;
	color:white;
}

.iconBtn {
	color:white;
	font-size:30px;
}

.iconBtn:hover {
	color:#dbd9d9;
}

.iconBtn:active {
	color:#c9c7c7;
}

.post-image > img {
	width:100%;
	height:400px;
}



.post-text {
	width:80%;
}

.post-text-icon {
	width:10%;
}



.post-talk-space {
	width:5%;
}

.post-text-icon > .iconBtn {
	font-size:20px;
	
}

.post-userName > .textWhite {
	font-size:17px;
}

.commentText {
	color:#a4a6a5;
	font-family: 'BMJUA';
	font-size:17px;
}

.comment-button-box > .form-control {
	background-color:rgb(64, 66, 74);
	height:45px;
	color:white;
	border:2px solid rgb(64, 66, 74);
}

.suda-main-contents > .form-control {
	background-color:rgb(64, 66, 74);
	color:white;
	border:2px solid rgb(64, 66, 74);
	resize: none;
}

.textArea-container  > .form-control {
	background-color:rgb(64, 66, 74);
	color:white;
	border:2px solid rgb(64, 66, 74);
	resize: none;
}

.form-control:focus {
	box-shadow:none;
}

.iconGray {
	color:rgb(158, 158, 158);
	font-size:40px;
}

.iconGray:hover {
	color:#dbd9d9;
}

.iconGray:active {
	color:#c9c7c7;
}

.upload-last > .blueBtn {
	height:40px;
}

.imageText {
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
	margin-top:27px;
	margin-left:10px;
}

.emptyIcon {
	font-size:100px;
	color:rgb(158, 158, 158);
}

.empty-text-container {
	width:100%;
	height:662px;
}

.empty-box {
	padding-top:120px;
}

.emptyText > .fontBMJUA {
	color:rgb(158, 158, 158);
}

.redBtn {
	background-color:#c93443;
	color:white;
	font-weight:bold;
}

.image-file-input > .redBtn {
	height:32px;
	margin-top:20px;
}

.redBtn:hover {
	background-color:#d64b58;
}

.redBtn:active {
	background-color:#9e2935;
}

.modal-content {
	background-color:#1a1d29;
		
}

.modal-footer {
	border:none;
}

.textPlaceHolder {
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
}


.movie-detail-container {
	width:80%;
	margin:auto;
}

.movieName {
	color:white;
	font-size:30px;
	font-family: 'BMJUA';
}

.age-limit-fifteen {
	color:#f39c12;
	font-size:20px;
	font-family: 'BMJUA';
}

.smallGray {
	color:rgb(158, 158, 158);
	font-size:15px;
	font-family: 'BMJUA';
}

.textBlack {
	color:black;
	font-size:17px;
	font-family: 'BMJUA';
	margin-top:3px;
	
}

#playBtn > .textWhite {
	font-size:17px;
	font-family: 'BMJUA';
	margin-top:3px;
}

.playIcon {
	font-size:23px;
	margin-top:1px;
}


#playBtn {
	display: flex;
	align-items: center;
}

#interestBtn {
	background-color:transparent;
	height:49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plusIcon {
	font-size:30px;
	color:white;
}

.plusIcon:hover {
	color:#d1d1d1;
}

.plusIcon:active {
	color:#a8a8a8;
}

.overview {
	width:60%;
}

.notBackground {
	background-color:transparent;
	height:30px;
}

.detailText {
	color:rgb(158, 158, 158);
	font-size:20px;
	font-family: 'BMJUA';
	font-weight:bold;
}

.detailTextWhite {
	color:white;
	font-size:20px;
	font-family: 'BMJUA';
	font-weight:bold;
}

.review > .textWhite {
	font-size:20px;
	margin-top:2px;
	font-family: 'BMJUA';
}

.review > .textYellow {
	font-size:20px;
	margin-top:2px;
	font-family: 'BMJUA';
}


.detailText:hover {
	color:#dbd9d9;
}

.detailText:active {
	color:#c9c7c7;
}

.recommend > a > img {
	width:260px;
	height:200px;
	margin-right:20px;
}

.info-text-review {
	background-color:rgba(0, 0, 0, 0.5);
}

.movieCredits {
	width:260px;
	margin-right:24px;
}

.movieCredits > img {
	width:260px;
	height:200px;
}

.review-back {
	background-color:#1a1d29;
}

.reviewUpdateBox {
	margin:auto;
}

select option[value=""][disabled] {
	display: none;
}

select {
  padding-top: 10px;
}


