@charset "UTF-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color:#1a1d29;
}

#wrap {
	width:100%;
	height:200vh;
	
}

header {
	width:100%;
	height:65px;
	color:white;
	position: relative;
}

.logo{
	font-family: 'Comic Neue', cursive;
	font-weight:bold;
}

.headerLogo {
	font-size:40px;
	font-weight:bold;
	font-family: 'Comic Neue', cursive;
}

.poster-contents {
 	position: relative;
  	z-index: 1;
}

.profile-container {
	width: 180px;
	height: 225px;
	background-color: #101219;
	border-left: 1px solid #706f6f;
	border-bottom: 1px solid #706f6f;
	position: relative;
	z-index: 2;
}

.profileText, .profileText > a{
	position: absolute;
	width:160px;
	height:110px;
	font-family:'BMJUA';
	font-size:18px;
	color:white;
	font-weight: normal;
}

.profileText > a:hover {
	color:rgb(30, 140, 255);
 	text-decoration:none;
}

.profile {
	background-color:#101219;
	width:130px;
	height:60px;

}

.profile > hr {
	height:1px;
	background-color:#bebebe;
}

hr {
	height:1px;
	background-color:#484950;
}

.main-contents {
	width:20%;
	height:695px;
	margin:auto;
	color:white;
}

.main-contents > a:hover {
	color:white;
}

.textGray {
	color:rgb(224, 224, 224);
	font-size:small;
}

.textRed {
	color:#e54e48;
	font-size:12px;
}

.main-contents > .form-control {
	background-color:rgb(48, 51, 62);
	height:45px;
	color:white;
}

.pin-contents > .pinBox {
	width:45px;
	height:70px;	
	border:none;
	background-color:rgb(48, 51, 62);
	color:white;
	font-size:25px;
}

.pin-contents > input:focus {
	outline:none;
}

.btn:active, .btn:focus { 
	outline:none !important; 
	box-shadow:none !important; 
}

.blueBtn {
	background-color:rgb(0, 114, 210);
	height:45px;
	color:white;
	font-weight:bold;
}

.blueBtn:hover {
	background-color:#0580e8;
}

.blueBtn:active {
	background-color:#03579e;
}

.grayBtn {
	background-color:rgb(64, 66, 74);
	height:45px;
	color:white;
	font-weight:bold;
}

.grayBtn:hover {
	background-color:#4b4e57;
}

.grayBtn:active {
	background-color:#303238;
}

.main-contents > .loginEmail {
	height:55px;
}

.loginEmail > .lengthLine {
	border-left :1px solid #484950;
}

.loginEmail > .emailInfo {
	background-color:rgb(33, 44, 54);
	width:100%;
}

.emailInfoText {
	color:#bebebe;
	font-size:small;
}

.passwordRule {
	font-size:12px;
	color:rgb(224, 224, 224);
}

footer {
	height:140px;
	background-color:rgb(14, 11, 20);
	color:white;
	bottom:0;
	width:100%;
}

.footerLogo {
	font-size:30px;
	font-weight:bold;
	font-family: 'Comic Neue', cursive;
}

.copyRight {
	font-size:small;
	color:rgb(224, 224, 224);
}

input::placeholder {
 	color: rgb(168, 169, 173);
 	font-weight:bold;
}

a {
	color:rgb(102, 188, 255);
	font-weight:bold;
	font-size:small;
}

a:hover {
	color:rgb(30, 140, 255);
 	text-decoration:none;
}

.form-check-input {
	accent-color:rgb(224, 224, 224);
}

.icon-contents {
	width:30%;
	height:695px;
	margin:auto;
	color:white;
}

.circle {
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:#1a1d29;
    border:none;
}

.circle > img {
	width:100px;
    height:100px;
    border-radius:50%;
}
 
#movieHeaderLink > a {
	color:white;
	font-size:15px;
}

#movieHeaderLink > a:hover {
	color:#dbd9d9;
}

#movieHeaderLink > a:active {
	color:#c9c7c7;
}

.nickName {
	font-size:17px;
	font-weight:bold;
}

.profileCircle > img {
	width:50px;
   	height:50px;
   	border-radius:50%;	
}

.movie-contents {
	margin-top:70px;
	width:100%;
}

.movie-conteiner {
	margin-left:90px;
}

.textWhite {
	color:white;
	font-size:20px;
	font-family: 'BMJUA';
}

.textYellow {
	color:#f0c30f;
	font-size:small;
}

.movie-box {
	width:250px;
	height:150px;
	background-color:rgb(224, 224, 224);
	margin-bottom:70px;
}

.movie-box > img {
	width:325px;
	height:170px;
}




